{% extends 'base.html.twig' %}
{% block title %} Créer un utilisateur | {{ parent() }} {% endblock %}
{% block content_heading %}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="active"><a href="{{ path('user', {view: 'list'}) }}">Utilisateurs</a></li>
            <li>Nouveau</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <button type="submit" form="fos_user_registration_register" class="btn btn-primary"> Enregistrer </button>
        <a href="{{ path('user') }}" class="btn btn-default"> Annuler  </a>
    </div>
    <div class="col-md-6 hidden-xs">
        <a href="#" title="Next" class="btn btn-default pull-right">
            <i class="fa fa-angle-right"></i>
        </a>
        <a href="#" title="Prev" class="btn btn-default pull-right">
            <i class="fa fa-angle-left"></i>
        </a>
        <a href="{{ path('user', {view: 'list'}) }}" title="List" class="btn btn-default pull-right">
            <i class="fa fa-align-justify"></i>
        </a>
        <a href="{{ path('user', {view: 'kanban'}) }}" title="Kanban" class="btn btn-default pull-right">
            <i class="fa fa-th"></i>
        </a>
    </div>
</div>
{% endblock %}
{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-md-offset-1" style="margin-top: 10px;">
                <div class="panel">
                    <div class="panel-body">
                        {{ include('@FOSUser/Registration/register_content.html.twig') }}
                    </div> <!-- .panel-body -->
                </div> <!-- .panel -->
            </div>
        </div>
    </div>
{% endblock %}
