{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password', 'id': 'fos_user_change_password' } }) }}
    <div class="row">
    	<div class="col-md-12">
    		<div class="alert alert-warning">
    			Associez votre téléphone mobile avec votre compte Twitter pour une sécurité améliorée.
				En savoir plus.
    		</div>
    	</div>
    </div>
    <div class="row">
    	<div class="col-md-4">
    		<label>{{ form_label(form.current_password) }}</label>
    	</div>
        <div class="col-md-8">
            <div class="form-group">
                {{ form_widget(form.current_password, {attr: { 'class': 'form-control' }}) }}
            </div>
        </div>
    </div> <!-- .row -->
    <div class="row">
        <div class="col-md-4">
            <label>{{ form_label(form.plainPassword.first) }}</label>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                {{ form_widget(form.plainPassword.first, {attr: { 'class': 'form-control' }}) }}
            </div>
        </div>
    </div> <!-- .row -->
    <div class="row">
        <div class="col-md-4">
            <label>{{ form_label(form.plainPassword.second) }}</label>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                {{ form_widget(form.plainPassword.second, {attr: { 'class': 'form-control' }}) }}
            </div>
        </div>
    </div> <!-- .row -->
{{ form_end(form) }}
