{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('bower_components/bootstrap/dist/css/bootstrap.css')) }}">
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('bundles/framework/css/main.css')) }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 style="text-align: center;padding: 30px;" class="h1">Produits</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <table class="table table-striped table-bordered table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>Ref.interne</th>
                        <th>Nom</th>
                        <th>Catégorie</th>
                        <th>Prix public</th>
                        <th>Qte</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td> {{ product.number|lower }} </td>
                            <td> {{ product.name }} </td>
                            <td> {{ product.category.name }} </td>
                            <td> {{ product.sellingPrice|number_format(2, '.', ' ') }} </td>
                            <td> {{ product.amount }} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}