{% extends 'base.html.twig' %}
{% block title %} {{ product.name }} | {{ parent() }} {% endblock %}
{% block content_heading %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('product', {view: 'list'}) }}">Articles</a></li>
                <li class="active">{{ product.name }}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <a href="{{ path('create_product') }}" title="Créer un nouveau l'article" class="btn btn-primary"> <i class="icon-plus-circle"></i> Créer </a>
            <a href="{{ path('edit_product', { id: product.id, slug: product.slug }) }}" title="Modifier l'article" class="btn btn-default"> <i class="icon-edit-circled"></i> Modifier </a>
        </div> <!-- .col-md-5 -->
        <div class="col-md-5">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li><a href="{{ path('print_product', { id: product.id }) }}" target="_blank">Imprimer</a></li>
                    <li><a href="{{ path('duplicate_product', { id: product.id }) }}">Duppliquer</a></li>
                    <li><a href="{{ path('remove_product', { id: product.id }) }}" onclick="return confirm('Vous voulez vraiment supprimer ?');">Supprimer</a></li>
                </ul>
            </div>
        </div> <!-- .col-md-6 -->
        <div class="col-md-2">
            <div class="btn-group pull-right" role="group" aria-label="toolbar view type">
                <a href="{{ path('product', {view:'kanban'}) }}" data-rel="tooltip" data-placement="bottom" title="Kanban" class="btn btn-default">
                    <i class="fa fa-th"></i>
                </a>
                <a href="{{ path('product', {view:'list'}) }}" data-rel="tooltip" data-placement="bottom" title="List" class="btn btn-default">
                    <i class="fa fa-align-justify"></i>
                </a>
            </div>
        </div> <!-- .col-md-2 -->
    </div>
{% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col-md-9 col-md-offset-1">

            <div class="panel" style="margin-top:10px">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <a href="#" class="thumbnail">
                                <img data-toggle="magnify"
                                     src="{% if product.photo.thumbnailPhotoFileName is not defined or product.photo.thumbnailPhotoFileName is null %}{{ asset('bundles/framework/img/image-missing.png') }}{% else %}{{ asset('bundles/framework/uploads/' ~ product.photo.thumbnailPhotoFileName) }}{% endif %}"
                                     class="img-responsive"
                                     alt="{{ product.name }}">
                            </a>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4>{{ product.name }}</h4>
                                </div>
                            </div> <!-- .row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <h5><label>Catégorie : </label>{{ product.category.name }}</h5>
                                </div>
                            </div> <!-- .row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <input type="checkbox" id="product_finishedGoodsFlg" {%  if product.finishedGoodsFlg == 1 %} checked="checked" {% endif %} disabled>
                                        <label for="product_finishedGoodsFlg">Peut être vendu</label>
                                    </div>
                                </div>
                            </div> <!-- .row -->
                        </div>
                    </div> <!-- .row -->
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-control">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#informations" aria-controls="informations" role="tab" data-toggle="tab">Informations</a></li>
                                            <li role="presentation" class=""><a href="#inventaire" aria-controls="inventaire" role="tab" data-toggle="tab">Inventaire</a></li>
                                            <li role="presentation" class=""><a href="#ventes" aria-controls="ventes" role="tab" data-toggle="tab">Ventes</a></li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="informations">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label for="">Prix de vente</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>{{ product.sellingPrice|number_format(2, '.', ' ') }} MAD </p>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label for="">Référence interne</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>{% if product.number is not null %}{{ product.number }}{% else %}-{% endif %}</p>
                                                    </div>
                                                </div> <!-- .row -->
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label for="">Etat</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>{% if product.status is not null %}{{ product.status }}{% else %}-{% endif %}</p>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label for="">Code barre</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>{% if product.barCode is not null %}{{ product.barCode }}{% else %}-{% endif %}</p>
                                                    </div>
                                                </div> <!-- .row -->
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label for="">Quantité</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>{% if product.quantity is not null %}{{ product.quantity }}{% else %}-{% endif %}</p>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label for="">Taux de tva</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>{% if product.tva is not null %}{{ product.tva }}{% else %}-{% endif %}</p>
                                                    </div>
                                                </div> <!-- .row -->
                                                <hr/>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p> {{ product.description }} </p>
                                                    </div>
                                                </div>
                                            </div> <!-- .tab-pane -->
                                            <div role="tabpanel" class="tab-pane" id="inventaire">
                                            </div>
                                        </div>
                                    </div> <!-- .tab-control -->
                                </div>
                            </div> <!-- .row -->
                        </div> <!-- .col-md-12 -->
                    </div> <!-- .row -->
                </div>
            </div>

        </div>
    </div>
{% endblock %}
