<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> :: {% block title %} Inventory {% endblock %} :: </title>
        <link href="https://fonts.googleapis.com/css?family=Kalam|Armata|Merienda|Sniglet|Imprima|Athiti|Ruda" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/framework/css/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/framework/css/login.css') }}">
        <script type="text/javascript" src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </head>
    <body>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
</html>
