{% extends 'base.html.twig' %}
{% block title %} Bons de commandes | {{ parent() }} {% endblock %}
{% block content_heading %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('salesOrder') }}">Bons de commandes</a></li>
                <li class="{{ path('view_salesOrder', { id: salesOrder.id }) }}"> {{ salesOrder.salesOrderNumber }} </li>
                <li class="active"> Facture </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="{{ path('create_salesOrder') }}" class="btn btn-primary"> <i class="icon-plus-circle"></i> Créer </a>
            <a href="{{ path('edit_salesOrder', { id : salesOrder.id }) }}" class="btn btn-default"> <i class="icon-edit-circled"></i> Modifier </a>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-5">
            {% if salesOrder.status == 1 %}
             <a href="{{ path('invoiceValidate_salesOrder', { id : salesOrder.id }) }}" class="btn btn-primary"> <i class="icon-ok-circle"></i> Valider </a>
            {% endif %}
            {% if salesOrder.status == 2 %}
             <a href="{{ path('print_salesOrder', { id : salesOrder.id }) }}" class="btn btn-default"> <i class="icon-print-1"></i> Imprimer </a>
             <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#payment"> <i class="icon-ok-circle"></i> Enregistrer le réglement </a>
            {% endif %}
        </div>
        <div class="col-md-7">
            <ul class="list-unstyled invoice_form_status">
                <li class="{% if salesOrder.status == 1 %}active{% endif %}" data-id="draft">
                    <span>Brouillon</span>
                </li>
                <li class="{% if salesOrder.status == 2 %}active{% endif %}" data-id="approved">
                    <span>Ouverte</span>
                </li>
                <li class="{% if salesOrder.status == 3 %}active{% endif %}" data-id="done">
                    <span>Payé</span>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1" style="margin-top: 10px;">
                <div class="panel">
                    <div class="panel-heading">
                        <h4>Facture / <span class="text-info">{{ salesOrder.salesOrderNumber }}</span> </h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="vendor">Fournisseur</label>
                            </div>
                            <div class="col-md-4">
                                <p>{{ salesOrder.customer.name }}</p>
                            </div>
                            <div class="col-md-2">
                                <label for="date">Date de commande</label>
                            </div>
                            <div class="col-md-4">
                                <p>{{ salesOrder.orderDate|date("F jS \\a\\t g:ia") }}</p>
                            </div>
                        </div> <!-- .row -->
                        <div class="row">
                            <div class="col-md-2">
                                <label for="#">Réf fournisseur</label>
                            </div>
                            <div class="col-md-4">
                                <p>{{ salesOrder.customerNumber }}</p>
                            </div>
                        </div> <!-- .row -->
                        <br/>
                        <div class="tab-control">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#purchaseOrderDetail" aria-controls="home" role="tab" data-toggle="tab">Lignes de la commande</a></li>
                                <li role="presentation"><a href="#invoice" aria-controls="invoice" role="tab" data-toggle="tab">Factures et bons de réception</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="purchaseOrderDetail">
                                    <table class="table table-condensed table-striped table-hover table-responsive">
                                        <thead>
                                        <tr>
                                            <th>Article</th>
                                            <th>Quantité</th>
                                            <th>Prix unitaire</th>
                                            <th>Taxes</th>
                                            <th>Sous-Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for salesOrderDetail in salesOrder.salesOrderDetail %}
                                            <tr>
                                                <td >{% if salesOrderDetail.product.name|length < 50 %} {{ salesOrderDetail.product.name }} {% else %} {{ salesOrderDetail.product.name|slice(0,50) }}... {% endif %}</td>
                                                <td>{{ salesOrderDetail.orderQty }}</td>
                                                <td>{{ salesOrderDetail.unitPrice|number_format(2, '.', ' ') }}</td>
                                                <td>{{ salesOrderDetail.product.tva }}</td>
                                                <td>{{ salesOrderDetail.lineTotal|number_format(2, '.', ' ') }} </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <hr/>
                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-8">
                                            <table class="table table-no-bordred table-responsive">
                                                <tbody>
                                                <tr>
                                                    <td>Montant hors taxe</td>
                                                    <td><span class="pull-right">{{ salesOrder.totalHT|number_format(2, '.', ' ') }} DH</span> </td>
                                                </tr>
                                                <tr>
                                                    <td>Taxes</td>
                                                    <td><span class="pull-right">0,00</span></td>
                                                </tr>
                                                <tr>
                                                    <td><h4>Total</h4></td>
                                                    <td><h4 class="pull-right">{{ salesOrder.totalTTC|number_format(2, '.', ' ')  }} DH</h4></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div> <!-- tab-pane -->
                                <div role="tabpanel" class="tab-pane" id="invoice">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="#">Date prévue</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ salesOrder.shipDate|date("F jS \\a\\t g:ia") }}
                                            </div>
                                        </div>
                                    </div> <!-- .row -->
                                </div>
                            </div>
                        </div> <!-- .tab-control -->
                    </div> <!-- .panel-body -->
                </div> <!-- .panel -->
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" id="payment" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Payer la facture</h4>
                </div>
                <div class="modal-body">
                    {% include 'salesOrder/payment.html.twig' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}
