{% extends 'base.invoice.html.twig' %}

{% block title %} Bons de commande | {{ parent() }} {% endblock %}

{% block invoice_number %}
    {{ salesOrderHeader.salesOrderNumber }}
{% endblock %}

{% block invoice_date %}
    {{ salesOrderHeader.orderDate|date('d/m/Y')}}
{% endblock %}


{% block content %}

    <br/>
    <div class="heading">
        <h1 class="text-center">Bons de commandes</h1>
    </div>
    <br/>
    <table class="table table-no-bordred table-condensed">
        <thead>
        <tr>
            <th>Produit</th>
            <th>Qte</th>
            <th>Prix Ht</th>
            <th>Taxes</th>
            <th>Sous Total</th>
        </tr>
        </thead>
        <tbody>
        {% for salesOrderDetail in salesOrderHeader.salesOrderDetail %}
            <tr>
                <td title="">{{ salesOrderDetail.product.name }}</td>
                <td>{{ salesOrderDetail.orderQty }}</td>
                <td>{{ salesOrderDetail.unitPrice|number_format(2, '.', ' ') }} DH</td>
                <td>{{ salesOrderDetail.product.tva }} %</td>
                <td>{{ salesOrderDetail.lineTotal|number_format(2, '.', ' ') }} DH</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row" id="invoice-amount">
        <div class="col-md-5 col-md-offset-7">
            <div class="well">
                <table class="table table-no-bordred">
                    <tbody>
                    <tr>
                        <td>Montant hors taxe</td>
                        <td>{{ salesOrderHeader.totalHT|number_format(2, '.', ' ') }} DH</td>
                    </tr>
                    <tr>
                        <td>Taxes</td>
                        <td>0,000</td>
                    </tr>
                    <tr>
                        <td><h4>Total</h4></td>
                        <td><h4>{{ salesOrderHeader.totalTTC|number_format(2, '.', ' ') }} DH</h4></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}